.left {
  position: absolute;
  top: 20px;
  left: 60px;
  display: inline-block;
  /* border: 2px solid red; */
  color: white;
}
.left img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* filter: invert(100%); */
}
.left img:hover {
  filter: invert(100%);
}
.left div {
  line-height: 25px;
  text-align: center;
}

.mid {
  display: block;
  width: 36%;
  margin: 29px auto;
  /* border: 2px solid red; */
  color: white;
}
.right {
  position: absolute;
  right: 34px;
  top: 20px;
  display: inline-block;
  /* border: 2px solid red; */
  color: white;
}

.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 20px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: gold;
}

.btn {
  font-family: "Pirata One", cursive;
  padding: 4px 6px;
  margin: 9px;
  color: white;
  background-color: black;
  border: 2px solid rgb(53, 52, 52);
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover {
  color: gold;
  background-color: rgb(41, 40, 40);
}

.container {
  border: 2px solid white;
  margin: 106px 80px;
  padding: 75px;
  width: 33%;
  border-radius: 28px;
}

.form-group input {
  font-family: "Pirata One", cursive;
  text-align: center;
  display: block;
  width: 400px;
  padding: 1px;
  border: 2px solid black;
  margin: 11px auto;
  font-size: 15px;
  border-radius: 8px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: none;
  color: white;
}
.form-group input : :focus {
  color: #454545;
}

.container button {
  display: block;
  width: 400px;
  margin: 40px auto;
}
.container h2 {
  text-align: center;
  color: gold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
